body{
    width:75%;
    margin:auto;
}

img{
    width:30%;
    margin-left: 5px;
    margin-right:5px;
    margin-bottom: 10px;
    float:left;
    display:block;
}
p{
    width:30%;
    margin:5px;
    float:left;
    display:block;
}
